body {
  background-color: #f1f1f1;
}

/*! Top & Side Toggle NavBar  */
.nav-main{
  width: 100%;
  height: 60px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
  position: fixed;
  top: 0;
}

.btn-toggle-nav {
  width: 50px;
  height: 100%;
  background-color: blueviolet ;
  background-image: url("/images/toggle.PNG");
  background-repeat: no-repeat;
  background-size: 40%;
  background-position: center;
}

.btn-toggle-nav:hover {
  opacity: 0.5;
}
.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li {
  list-style: none;
  line-height: 60px;
}

.nav-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  padding: 0 5px;
  height: calc(100vh - 60px);
  background-color: #1b1b1b;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}

.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li span, .nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li a:hover {
  background-color: #222;
}

/*! Homepage hero */
h1 {
  font-size: 96px;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 150px 10px 10px 60px;
}

.hero p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
  color: #1b1b1b;
}

.hero h2 {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  font-size: 26px;
  line-height: 2;
  }

.btn-branding {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  line-height: 27px;
  padding: 12px;
  font-size: 18px;
}